@layout LoginLayout
@inherits LayoutComponentBase

<center>
    <div class="col-md-8 card">
        <div class="col-md-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-6" style="border-left:groove;">
                <img src="/images/AppLogo.jpg" width="400px" height="400px" class="rounded mx-auto d-block" alt="4G Logo" >
                @*<img src="/images/AppLogo.jpg" width="400px" height="400px" />*@
            </div>
            <div class="col-md-6" style="border-right:thick">
                @Body
            </div>
        </div>
        <div class="col-md-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
</center>